/* work sand google fond from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}
html {
  font-size: 10px;
}
.primary-btn {
  background: #ff900e;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
section {
  margin-top: 8rem;
}

/* nav section style */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 10px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  font-size: 4.5rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.8rem;
  font-weight: 500;
}

/* banner section style */

.banner-content {
  max-width: 60rem;
  text-align: center;
  margin: 0px auto;
}
.banner-title {
  color: #131313;
  font-size: 6rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  font-size: 1.6rem;
  font-weight: 400;
}
.banner img {
  width: 100%;
  margin-top: 10px;
}

/* main section style */

main {
  max-width: 110rem;
  margin: 0 auto;
}

/* team sections style */
.team-container {
  display: flex;
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.team-img-container img {
  width: 30rem;
}

.team-content {
  padding: 0 20px;
}
.team-title {
  color: #727272;
  font-size: 4rem;
  font-weight: 500;
}
.quick-list {
  color: #727272;
  font-size: 4rem;
  font-weight: 500;
}
.of-our {
  color: #131313;
  font-size: 4.5rem;
  font-weight: 700;
}

.team-description {
  color: #727272;
  font-size: 1.4rem;
  font-weight: 400;
}

/* feature section style */
.features {
  display: flex;
  
  gap: 3rem;
}
.featured-card {
 
  margin-top: 15px;
}
.features-title {
  color: #131313;
  font-size: 4.5rem;
  font-weight: 700;
  border-left: 5px solid orangered;
  padding-left: 10px;
}
.features-description {
  color: #727272;
  font-size: 1.6rem;
  font-weight: 400;
}
.featured-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 10px;
}
.featured-card-title {
  color: #131313;
  font-size: 2rem;
  font-weight: 600;
}
.features-img img {
  height: 85%;
  margin-left: 60px;
}
.ten-years-badge {
  padding: 20px;
  border-radius: 8px;
  background: #ff900e;
  color: white;
  width: 340px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
.badge-title {
  font-size: 4rem;
  margin: 0;
}
.badge-description {
  font-size: 2rem;
}

/* Facts section style */

.facts-title {
  color: #131313;
  font-size: 4.5rem;
  font-weight: 700;
}
.facts-description {
  color: #727272;
  font-size: 1.6rem;
  font-weight: 400;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.card {
  border: 1px solid orange;
  border-radius: 5px;
  text-align: center;
  padding: 30px;
}
.card-states {
  color: #424242;
  font-size: 4rem;
  font-weight: 600;
}
.card-title {
  color: #727272;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 5px;
}

/* sponsors section */

.sponsors {
  text-align: center;
}
.sponsors-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
.sponsors-img-container img {
  width: 16.6rem;
}
.sponsors-title {
  color: #131313;
  font-size: 4.5rem;
  font-weight: 700;
}
.sponsors-description {
  color: #727272;
  font-size: 1.6rem;
  font-weight: 400;
}
/* responsive for small device */
@media screen and (max-width: 576px) {
  header {
    padding: 10px;
  }
  nav,
  .team-container {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: 1fr;
  }
  .facts-card-container {
    flex-direction: column;
    gap: 20px;
  }
  .sponsors-img-container {
    flex-direction: column;
  }
  .features {
    flex-direction: column;
  }
  .features-img img {
    width: 100%;
    margin-left: 0;
  }
  .ten-years-badge {
    position: static;
  }
}
/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 920px) {
  header {
    padding: 20px;
  }
  nav,
  .team-container {
    flex-direction: column;
  }
  .team-content {
    padding: 0 12rem;
  }
  .facts-card-container {
    flex-direction: column;
    gap: 20px;
  }
  .sponsors-img-container {
    flex-direction: column;
  }
  .features {
    flex-direction: column;
  }
}
