/* work sand google fond from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}
html {
  font-size: 10px;
}
.primary-btn {
  background: #ff900e;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  /* border-radius: 8px; */
}

/* nav section style */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 10px 240px;
  /* border: 2px solid red; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  font-size: 4.5rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.8rem;
  font-weight: 500;
}

/* banner section style */
.banner-content {
  /* border: 2px solid black; */
  max-width: 60rem;
  text-align: center;
  margin: 0px auto;
}
.banner-title {
  color: #131313;
  font-size: 6rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  font-size: 1.6rem;
  font-weight: 400;
}
.banner img {
  width: 100%;
  margin-top: 10px;
}

/* main section style */

main {
  max-width: 110rem;
  /* border: 2px solid black; */
  margin: 0 auto;
}
.team-container {
  display: flex;
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.team-content {
  /* border: 2px solid black; */
  padding: 0 20px;
}
.team-title {
  color: #727272;
  font-size: 4rem;
  font-weight: 500;
}
.quick-list {
  color: #727272;
  font-size: 4rem;
  font-weight: 500;
}
.of-our {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
}
.team-description {
  color: #727272;
  font-size: 1.4rem;
  font-weight: 400;
}
/* responsive for small device */
@media screen and (max-width: 576px) {
  header {
    padding: 10px;
  }
  nav {
    flex-direction: column;
  }
}
/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
}
